:root {
    --black_background_tema_1: #121214;
    --white_background_tema_2: #ffffff;
  }

body{
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-rows: 10% 85% 5%;
    height: 100vh;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    /* background: #121214; */
    height: 100%;
}

footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #04d361;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5vh;
    border-top: 1px solid #53535350;
    background-color: var(--black_background_tema_1);
}

.cabecalho{
    background-color: var(--black_background_tema_1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #53535350;
}

.cabecalho h1{
    color: #04d361;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3vh;
    margin-bottom: 0.5vh;
}

.cabecalho h2{
    color: #737380;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5vh;
}

.principal{
    box-sizing: border-box;
    height: 100%;
    padding: 5vh;
    background: var(--black_background_tema_1);
}

.conteudo{
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
    padding: 5vh 10vh;
    background: #737380;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);

}

.modulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 800px;
}

.modulo{
    flex-basis: 32%;
    background: white;
    margin-bottom: 5vh;
    
}

